html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: rgb(33,206,153);
}

#menu{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;
	z-index: 10000;
	text-align: left;
	overflow-y: scroll;
	transition: 0.5s;
	opacity: 1;
}

.hiddenMenu{
	display: none;
}

#menuContent{
	margin:auto;
	margin-top: 80px;
	width: 60%;
}

h3{
	font-family: Roboto, 'sans-serif';
	font-size: 30px;
}

h4{
	font-family: Roboto, 'sans-serif';
	font-size: 21px;
	line-height: 80%;
	margin-bottom: 5px;
}

p{
	font-family: Roboto, 'sans-serif';
	font-size: 17px;
	margin-bottom: 5px;
}

.button{
	padding: 5px;
	font-size: 50px;
	width: 55px;
	text-align: center;
	border-radius: 8px;
	color: white;
	font-weight: 300;

	text-shadow: 1px 1px 3px rgba(0,0,0, 0.28);	
	transition: 0.3s;
	margin-top: 0px;
	margin-bottom: 4px;
	display: inline-block;
	margin-left: 8%;
	margin-right: 8%;
}

.button:hover{
	color: rgb(48,48,48);
	text-shadow: 1px 1px 6px rgba(0,0,0, 0.28);	
	cursor: pointer;
}

#options{
	text-align: center;
	margin-top: 5vh;
}

#UI{
	width: 100%;
	margin: auto;
	height: 95%;
	text-align: center;
}

.press{
	display: inline-block;
	height: 75%;
	width: 45%;
	background-color: rgb(254,254,254);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	border-radius: 10px;
	border-bottom: 15px solid rgb(220,220,220);

	transition: 0.2s;
	color: rgb(32,32,32);
}


.press:hover:not(.pressed){
	border-bottom: 10px solid rgb(210,210,210);
	background-color: rgb(248,248,248);
	font-family: 'Roboto', sans-serif;
	transform:translateY(5px);
	-webkit-transform:translateY(5px);
	text-align: center;
}

.pressed{
	border-top: 10px solid rgb(20,122,91);
	border-bottom: 0px;
	border-bottom: 0px;
	background-color: rgb(23,145,108);
	color: white;
	transform:translateY(15px);
	-webkit-transform:translateY(15px);
	margin-top: 30px;

	color: white;
}

.lose{
	background-color: rgb(143,50,38);
	border-top: 10px solid rgb(123,27,15);
}

.time{
	font-family: 'Roboto', sans-serif;
	font-size: 140px;
	font-weight: 400;
	margin-top:  25vh;
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

.timeSelect{
	display: inline-block;
	padding: 6px;
	font-size: 17px;
	border: 1px solid rgb(180,180,180);
	font-family: Roboto;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
}

.timeMenu{
	float: left; 
	width: 45%; 
	padding-right: 5%; 
	padding-bottom: 15px;
}
.timeMenu::after{
	content: "";
	clear: both;
	display: block;
}


.timeSelect:hover{
	background-color: rgb(33,206,153);
	border: 1px solid rgb(33,206,153);
	color: white;
}

.timeSelectActivated{
	background-color: rgb(33,206,153);
	border: 1px solid rgb(33,206,153);
	color: white;
}

.dropdown{
	position: relative;
	display: inline-block;
	font-family: Roboto, 'sans-serif';
	font-size: 17px;
	width: 60px;
}

.dropdownContent{
	display: none;
	position: absolute;
	z-index: 1;
	text-align: right;
	background-color: #f9f9f9;
}
.dropdown > span{
	padding: 4px;
	border: 1px solid rgb(64,64,64);
	cursor: pointer;
	background-color: #4CAF50;
	padding: 16px;
}

.dropdown:hover .dropdownContent{
	display: block;
	text-align: right;
}

.dropdownItem{
	color: black;
    display: block;
}

#exitMenu{
	font-size: 40px; 
	position: absolute; 
	right:20%; 
	color: rgb(23,196,143); 
	cursor: pointer;
}

@media screen and (max-width: 1200px) {
	.time{
		font-size: 100px;
	}
	.button{
		font-size: 40px;
		width: 50px;
		padding: 5px;
		margin-left: 2%;
		margin-right: 2%;
	}
	.press{
		height: 75vh;
	}
}
@media screen and (max-width: 800px) {
	#exitMenu{
		right: 10%;
	}
	.timeMenu{
		padding: none;
		width: 100%;
	}
	#menuContent{
		width: 80%;
	}
	.press{
		height: 75%;
		margin-top: 2vh;
		border-bottom: 4px solid rgb(220,220,220);

	}
	.press:hover:not(.pressed){
		border-bottom: 4px solid rgb(210,210,210);

	}
	.pressed{
		margin-top: 2px;
		border-bottom: none;
		border-top: 8px solid rgb(20,122,91);
		transform:translateY(5px);
		-webkit-transform:translateY(5px);

	}
	.lose{
		border-top: 8px solid rgb(123,27,15);
	}
	.time{
		font-size: 70px;
		margin-top: 20vh;
	}
	.button{
		font-size: 30px;
		width: 40px;
		padding: 5px;
		margin-left: 7%;
		margin-right: 7%;
	}
	
}

@media screen and (max-width: 640px) {
	.button{
		font-size: 30px;
		width: 40px;
		padding: 5px;
		margin-left: 5%;
		margin-right: 5%;
	}

	.press{
		height: 58vh;
		margin-top: 4vh;
		padding-top: 10vh;
	}
	.pressed{
		margin-top: 5px;
	}
	.time{
		font-size: 70px;
		margin-top: 15vh;
	}
}

@media screen and (max-width: 420px){
	.button{
		z-index: 1000;
		font-size: 25px;
		width: 30px;
	}
	.press{
		width: 90%;
		height: 41vh;
		margin-top: 4vh;
		margin-bottom: 5vh;
		transform: none;
		border: none;
		padding-top: 0px;
	}
	.time{
		-webkit-transform:translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		margin-top: 20vh;
		transform: translateY(-50%);
	}
	#timeA{
		-webkit-transform: rotate(180deg) translateY(50%);
		-moz-transform: rotate(180deg) translateY(50%);
		-ms-transform: rotate(180deg) translateY(50%);
		-o-transform: rotate(180deg) translateY(50%);
		margin-bottom: 20vh;
		transform: rotate(180deg) translateY(50%);
		margin-bottom: 0px;
	}
	.press:hover:not(.pressed){
		border: none;
		margin-top: 4vh;
		margin-bottom: 5vh;
		transform: none;
	}
	.pressed{
		margin-top: 4vh;
		margin-bottom: 5vh;
		transform: none;
		border: none;
	}
	.lose{
		border-top: none;
	}
	#options{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		width: 100%;
		margin-top: 0px;
	}
}