html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: rgb(33,206,153);
}

.button{
	padding: 5px;
	font-size: 50px;
	width: 55px;
	text-align: center;
	border-radius: 8px;
	color: white;
	font-weight: 300;

	text-shadow: 1px 1px 3px rgba(0,0,0, 0.28);	
	transition: 0.3s;
	margin-top: 0px;
	margin-bottom: 4px;
	display: inline-block;
	margin-left: 8%;
	margin-right: 8%;
}

.button:hover{
	color: rgb(48,48,48);
	text-shadow: 1px 1px 6px rgba(0,0,0, 0.28);	
	cursor: pointer;
}

#options{
	text-align: center;
	margin-top: 5vh;
}

#UI{
	width: 100%;
	margin: auto;
	height: 95%;
	text-align: center;
}

.press{
	display: inline-block;
	height: 75%;
	width: 45%;
	background-color: rgb(254,254,254);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	border-radius: 10px;
	border-bottom: 15px solid rgb(220,220,220);

	transition: 0.2s;
	color: rgb(32,32,32);
}

.press:hover:not(.pressed){
	border-bottom: 10px solid rgb(210,210,210);
	background-color: rgb(248,248,248);
	font-family: 'Roboto', sans-serif;
	transform:translateY(5px);
	-webkit-transform:translateY(5px);
	text-align: center;
}

.pressed{
	border-top: 10px solid rgb(20,122,91);
	border-bottom: 0px;
	border-bottom: 0px;
	background-color: rgb(23,145,108);
	color: white;
	transform:translateY(15px);
	-webkit-transform:translateY(15px);
	margin-top: 30px;

	color: white;
}



.time{
	font-family: 'Roboto', sans-serif;
	font-size: 140px;
	font-weight: 400;
	margin-top:  25vh;
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

@media screen and (max-width: 1200px) {
	.time{
		font-size: 100px;
	}
	.button{
		font-size: 40px;
		width: 50px;
		padding: 5px;
		margin-left: 2%;
		margin-right: 2%;
	}
}
@media screen and (max-width: 800px) {
	.press{
		height: 75%;
		margin-top: 2vh;
		border-bottom: 4px solid rgb(220,220,220);

	}
	.press:hover:not(.pressed){
		border-bottom: 4px solid rgb(210,210,210);

	}
	.pressed{
		margin-top: 2px;
		border-bottom: none;
		border-top: 8px solid rgb(20,122,91);
		transform:translateY(5px);
		-webkit-transform:translateY(5px);

	}
	.time{
		font-size: 80px;
		margin-top: 20vh;
	}
	.button{
		font-size: 30px;
		width: 40px;
		padding: 5px;
		margin-left: 7%;
		margin-right: 7%;
	}
	
}

@media screen and (max-width: 640px) {
	.button{
		font-size: 30px;
		width: 40px;
		padding: 5px;
		margin-left: 5%;
		margin-right: 5%;
	}

	.press{
		height: 60%;
		margin-top: 2vh;
		margin-top: 3px;
	}
	.pressed{
		margin-top: 5px;
	}
	.time{
		font-size: 70px;
		margin-top: 15vh;
	}
}

@media screen and (max-width: 420px){
	.button{
		z-index: 1000;
		font-size: 25px;
		width: 30px;
	}
	#timeA{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
	}
	.press{
		width: 90%;
		height: 41vh;
		margin-top: 4vh;
		margin-bottom: 5vh;
		transform: none;
		border: none;
	}
	.press:hover:not(.pressed){
		border: none;
		margin-top: 4vh;
		margin-bottom: 5vh;
		transform: none;
	}
	.pressed{
		margin-top: 4vh;
		margin-bottom: 5vh;
		transform: none;
		border: none;
	}
	#options{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		width: 100%;
		margin-top: 0px;
	}
}